/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
h1	{
	color: rgb(2,132,130);
	font-family: Arial, sans-serif;

}

h2	{
	color: #ffd700;
}

p{
	color: black;
}
h1, h2, p{
	text-align: center;

}

.board	{
	height: 80%;
	width: 50%;
	display: inline-block;
	width: 50%;
	height: 50%;

}

.card	{
	height: 200px;
	width: 150px;
	border: 1px black solid;
	background: yellow;
	border-radius: 10%;
	float:left;
	margin: 8%;

}

footer{
	color: black;
	text-align: center;
	background-color: #808080;


}

.name{
	color: #ff0000;

}

nav{
	background-color: #808080;


}
a{
	background-color: #ffbf00;
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 35px;

}
a:hover	{background-color: red;}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
 }
